<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Indy Fund Fest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C205E7E1B3B65E0002CA95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C205E921B3B65E0002CA95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C205E9D1B3B65E0002CA95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
